:root{
    --bg--black-900:#f2f2fc;
    --bg--black-100:#fdf9ff;
    --text--black-900:#d3c6c6;
    --sky--color:#FF6347;
    --bg--black : rgb(1, 1, 1);
    --text--white : #fff;
    --bg--black-50:#c0b4b4;
    --text--black-700:#1d1b3a; 
    --text--green-100:#4eff02;
    --main-color:rgb(9, 227, 243);
    --second-bg-color:#232c3c;
}

*{
    margin-left: 50px;
    margin-right:50px;
    padding:0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
body{
    line-height: 1.5;
    font-size: 16px;
    background-color:var(--bg--black);
}
/* header */
.head{
    width:100%;
    height: 50px;
    display: flex;
    /* border-bottom:2px solid #fff; */
    justify-content:space-between;
    align-items: center;
}
.head h2{
    margin-left: -80px;
    color:var(--text--white );
    /* border-bottom:2px solid #fff; */
}
nav a {
    position: relative;
    font-size: 1.2rem;
    color:var(--text--white );
    font-weight: 500;
    left: -50px;
    margin-left:0px;
}

.navi a::after{
    content: " ";
    position: absolute;
    left:0;
    bottom: -3.9px;
    width: 100%;
    border:2px solid var(--text--white );
    background: var(--text--white );
    border-radius:5px;
    /* transform-origin: right; */
    transform: scaleX(0);
    transition: transform .5s; 
}

.navi a:hover::after{
    transform-origin: left;
    transform:scaleX(1);
}

/* Home */
/* .hidden{
    display:none !important;
} */
.main-content{
    margin-top: 50px;
}
.container{
    max-width: 1300px;
    width: 100%;
    color: var(--text--white );
    /* border: 2px solid #fff; */

}
.home{
    /* min-height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text--white );
    margin-left:100px;
    /* border: 2px solid #fff; */
    height:610px;
    margin-bottom: 60px;

}

.home .home-info {
    flex:1;
}

h3.hello{
    font-size:28px;
    margin: 15px 0 ; 
    position: relative;
}
h3.hello span{
    margin-left:0px;
    font-family: 'Clicker Script',cursive;
    font-size: 30px;
    font-weight:700px;
    color: var(--sky--color);
}

h3.my-profession{
    font-size:28px;
    margin:10px 0 ; 
}
.typing{
    margin-left:0px;
    color:var(--sky--color);
}
.home-info p{
    margin-left: 0px;
    margin-bottom: 70px;
    font-size:20px;
    color: var(--text--white);
    /* position: relative; */
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    width:  3.5rem;
    height: 3.5rem;
    background: transparent;
    border: .2rem solid var(--text--white);
    font-size: 2rem;
    color: var(--main-color);
    margin:-20px 15px 48px 0 ;
    border-radius: 50%;
    text-decoration: none;
    transition: .5s ease;


}
.social-media a:hover{
    background: var(--main-color);
    color:var(--second-bg-color);
    box-shadow:0 0 10px var(--main-color) ;
}
.home .home-img{
    text-align: center;
    padding: 10px;
    position: relative;
    margin-top: 25px;

}
.home-img::after{
    content: '';
    position: absolute;
    border-bottom:10px solid var(--sky--color);
    border-right:10px solid var(--sky--color);
    width: 80px;
    height: 80px;
    right: 17px;
    bottom: -35px;
}

.home-img::before{
    content: '';
    position: absolute;
    border-top:10px solid var(--sky--color);
    border-left:10px solid var(--sky--color);
    width: 80px;
    height: 80px;
    top: -30px;
    left: 17px;
}
.home .home-img img{
    height: 400px;
}
.row{
    display: flex;
    flex-wrap:wrap;
    margin-left: -100px;
    margin-right: -50px;
    padding: 20px;
    position: relative;

}

.btn{
    margin-left: 0px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 35px;
    color:var(--text--white);
    display: inline-block;
    white-space:nowrap;
    border-radius: 40px;
    border: none;
    background: var(--sky--color);
    transition:all 0.3s linear;
    
}
.btn:hover{
    transform: Scale(1.05);
}

.shadow-dark{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.7);
}



    
/* About  */

section .about{
    margin-top:-200px;
    
    
}
.section .container{
    margin-top: -40px ;
    margin-left: -35px;

}


.section-title{
    flex:0  0 100%;
    max-width: 100%;
    height:65px;
    margin-bottom: 50px;
}

.section-title h2{
    margin-left: 30px;
    font-size:30px;
    color: var(--text--white);
    font-weight: 700;
    position: relative;
}

.section-title h2::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 55px;
    background: var(--sky--color);
    /* top:100%; */
    left: 0;
    bottom: 0;
}

.section-title h2::after{
    content: '';
    position: absolute;
    height: 4px;
    width: 30px;
    background: var(--sky--color);
    top:100%;
    left: 0;
    margin-top: 8px;
}

.about .about-content{
    flex:0  0 100%;
    max-width: 100%;
    padding: 6px 15px;

}

.about .about-content .about-text{
    flex:0  0 100%;
    max-width: 100%;
}


.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text--white);
}

.about .about-content .about-text h3 span{
    margin-left: 2px;
    color: var(--sky--color);
}

.about .about-content .about-text p{
    font-size: 18px;
    word-spacing:2px;
    line-height:25px;
    color: var(--text--white);
}

.about  .container .close{
    margin-top:-80px;
}
.about .about-content .personal-info{
    /* border: 2px solid #fff; */
    margin-left: 110px;
    flex:0  0 60%;
    max-width: 60%;
    padding: 5px;
    margin-top: -20px;
    /* margin-left: 180px !important; */

}


.about .about-content .personal-info .info-item{
    flex:0  0 40%;
    max-width: 40% ; 
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0;
    color:var(--text--white);
    text-align: left; 
    margin-top: -50px;

}


.about .about-content .personal-info .row{
    display: flex;
    flex-direction:column row ;
    gap: 3px;
}
.about .about-content .personal-info .info-item p {
    font-size: 16px;
    font-weight: 600;
    border-bottom:1px solid var(--bg--black-50);
    box-shadow: rgba(50, 50, 93, 0.40) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.about .about-content .personal-info .info-item p span{
    color: var(--bg--black-50);
    margin-left:1.2px ;
    font-weight: 400;
    display: inline-block;



}
.about .about-content .personal-info .buttons{
    margin-top: -10px;
    margin-left: 100px;
}


.about .about-content .skills{
    margin-left: 850px;
    margin-top: -34px;
    flex:0  0 40%;
    max-width: 40%;
    padding: 5px;

}

.about .about-content .skills{
    margin-top: -310px;
    
}

/* .about .about-content .skills .skill-item {
    color: var(--text--white);
    flex:  0 0 100%;
    max-width:100%;
    

} */
/* .about .about-content .skills .row{
    display: flex;
    flex-direction: column row;
    gap: -20px;
} */
.about .about-content .skills .skill-item{
    flex:0  0 40%;
    max-width: 40% ; 
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0;
    color:var(--text--white);
    text-align: left; 
    margin-top: -32px;
    line-height: 0px;
    /* border: 1px solid #fff; */

}

.about .about-content .skills .skill-item h5{

    font-weight: 600;
    font-size: 16px;
    color: var(--text--white);
    text-transform: capitalize;

}

.about .about-content .skills .skill-item progress {
    width: 100%; /* Adjust width as needed */
    height: 6px; /* Adjust height as needed */
    border-radius: 5px;
    background-color: #ccc; /* Fallback background */
}

.about .about-content .skills .skill-item progress::-webkit-progress-bar {
    background-color: #ddd; /* Background color of progress bar */
    border-radius: 5px;
}

.about .about-content .skills .skill-item progress::-webkit-progress-value {
    background-color: var(--sky--color); /* Change to your preferred color */
    border-radius: 5px;
}

.about .about-content .skills .skill-item progress::-moz-progress-bar {
    background-color: var(--sky--color); /* For Firefox */
    border-radius: 5px;
}

.about .about-content .skills{
    /* border: 2px solid #fff; */
    width: 450px;
    height: 400px;
    background-color: #020202;
    border-radius: 12px;
    display: flex;
    justify-content:center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    right: 50px;
    flex-wrap: wrap;
    position: relative;
}
.about .about-content .skills .row{
    position: absolute;
    justify-content: center;
}

.about .about-content .skills .skill-item {
    display: flex;
    flex-direction: column row; /* Stack elements vertically */
    align-items: left; /* Align text to the left */
    gap: 0px; /* Add space between text and progress bar */
}

.about .about-content .skills .skill-item h5 {
    font-size: 16px; /* Adjust as needed */
    margin:10px; /* Remove default margins */
    line-height: 30px; /* Ensure proper spacing */
    word-break: break-word; /* Prevents overflow */
}


.about .about-content .education,
.about .about-content .experience{
    display: flex;
    flex: 0 0 50%;
    max-width: 42%;
    flex-direction:row;
    
    /* background-color: red; */
    
    
    /* display: flex;
    justify-content:space-between ; */
    /* border:20px solid #fff ; */
}


.about .about-content .Scales{
    scale: 0.89;
    margin-bottom: 800px; 
}

.about .about-content h3.title{
    font-size: 24px;
    /* margin-bottom:30px; */
    font-weight: 700;
    color: var(--text--white);
    position: relative;
}

/* .padd-15{
    position: absolute;
    top: 0px;
    left: -50px;
} */
.about .about-content .timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
    position: absolute;
    top: 80px;
    left: -110px;

}


 .about .about-content .timeline{
    background-color: var(--text--black-700);
    padding-top: 50px ;
    padding-bottom: 50px;
    border: 1px solid var(--bg--black-50);
    border-radius: 10px;
    width: 600px;
    /* aspect-ratio: 1; */
    height: 750px;
    margin-top: 30px;
    margin-bottom: 50px; 
    border: 2px solid #fff;
    /* animation: move_closer 2s linear; */
}

/* @keyframes move_closer {
    0%{
        rotate: 20deg;
    }
    100%{
        rotate: 0deg;
    }
} */

.about .about-content .timeline .timeline-item{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0px;


}

/* .about .about-content .timeline .timeline-itme:last-child{
    padding-bottom:0 ;
} */

.about .about-content .timeline .timeline-item::before{
    content: '';
    position : absolute;
    width: 1px;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--sky--color);


}

.about .about-content .timeline .circle-dot{
    position: absolute;
    left: -52.5px;
    top: 25px;
    height: 20px;
    width: 20px;
    border-radius:50%;
    background-color: var(--sky--color);
}

.about .about-content .timeline .timeline-date{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: -10px;
    margin-left: 0;
    color: var(--bg--black-50);

}

.about .about-content .timeline .timeline-date .fa{
    margin-right: 10px;
}

.about .about-content .timeline .timeline-title{
    font-weight: 700;
    font-size:18px;
    margin-bottom: -10px;
    text-transform: capitalize;
    color: var(--text--black-900);

}

.about .about-content .timeline .timeline-text{
    line-height: 25px;
    font-size: 17px;
    text-align: justify;
    color: var(--text--white);
}

/* services */


.Services .box2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0;
    width: 1350px;
    /* border: 1px solid #fff; */
    margin-left:10px;
    margin-top:-50px;
    margin-bottom:0px;
    scale: 0.9;
}

.service-item {
    flex: 1;
    /* width: 300px;  */
    margin: 10px;
    text-align: center;

}

.Services .service-item  .services-item-inner{
    background-color: var(--text--black-700);
    border: 1px solid var(--text--white);
    border-radius: 10px;
    padding:30px 15px;
    height: 280px;
    text-align: center;
    transition: all 0.35 ease;

}

.Services .service-item  .services-item-inner:hover{
    box-shadow: 0 0 20px rgb(66, 42, 242);
    scale:0.88;
}

.Services .service-item  .services-item-inner .icon{
    height: 55px;
    width: 55px;
    border-radius:50%;
    margin-left: 65px;
    /* background-color: var(--sky--color); */
}

.Services .service-item  .services-item-inner .icon .fa{
    font-size: 40px;
    color: var(--sky--color);



}

.Services .service-item  .services-item-inner:hover .icon .fa{
    color: var(--text--white);

}
/* .Services .service-item  .services-item-inner .icon img{
    height: 40px;
    
} */


.Services .service-item  .services-item-inner h4{
    font-size: 18px;
    color: var(--text--white);
    font-weight: 700;
    text-transform: capitalize;

}

.Services .service-item  .services-item-inner p{
    font-size: 16px;
    color: var(--bg--black-100);
    line-height: 25px;
}

/* portfolio */

.portfolio{
    scale: 0.99;
    height: 710px;
    margin-top: 100px;
    /* border: 1px solid #fff; */
    margin-bottom: 100px;

}
.portfolio .container .box3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust spacing as needed */
    /* border: 1px solid #fff; */
    width: 1200px;
    margin-top: -80px;
    margin-left:30px;
    scale: 0.969;
}

.portfolio .portfolio-item {
    width: calc(25.33% - 20px); /* Ensures 3 items per row */
    padding:px;
    margin-right: -20px;
    /* margin-top: -60px; */
    /* border: 1px solid #fff; */
    width: 290px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    transition: all 0.35 ease;
}

.portfolio .portfolio-item .portfolio-item-inner  .portfolio-img img{
    width:250px;
    height: 250px;
    position: absolute;
    left: -30px;

}
.portfolio .portfolio-item .portfolio-item-inner  .portfolio-img .figcaptions{
    /* border: 1px solid #fff; */
    width: 200px;
    padding: auto;
    font-size: 20px;
    font-weight: 900;
    display: grid;
    place-content: center;
    color: var(--text--white);
    /* margin-top: 30px; */
    padding-left: 10px;
    margin-left:120px;
    position: absolute;
    left: -74px;
    bottom: -8px;
}


.portfolio .portfolio-item:hover{
    /* box-shadow: 0 0 20px rgb(66, 42, 242); */

    /* background-color:var(--text--black-700); */
    scale:0.89;
    border-radius: 20px;
}


.portfolio .section-title{
    margin-top: -30px;
}

.portfolio .portfolio-heading{
    flex:0 0 100%;
    max-width: 100%;
    margin-left: 150px;
    margin-top: -100px;

}
.portfolio .portfolio-heading h2 {
    color:var(--text--white);
    font-weight:900;
    /* border: 1px solid #fff; */
    padding: 5px;
    width: 150px;
    height: 40px;

}

/* Contact */
.contact{
    /* border: 1px solid #fff; */
    width: 1300px;
    height:600px;
    /* margin-top:-10px; */
    margin-bottom: 100px;
}
.contact-title {
    color: var(--sky--color);
    text-align: center;
    font-size:25px;
    margin-bottom: 10px;
    margin-top: -30px;

}

.contact-sub-title {
    color: var(--text--white);
    text-align: center;
    font-size:20px;
    margin-top: -10px;;
}

.contact-title_last {
    color: var(--sky--color);
    text-align: center;
    font-size:25px;
    margin-top: 50px;


}

.contact-sub-title_last {
    color: var(--text--white);
    text-align: center;
    font-size:20px;
    margin-top: -10px;;
}
.contact .contact-box{
    /* border: 1px solid #fff; */
    width: 1400px;
    margin-left: -100px;
    margin-top: 40px;
}
.contact .contact-info-item{
    /* border: 1px solid #fff; */
    flex: 0 0 20%;
    max-width: 20%;
    text-align: center;
    margin-right:1px;
    border-radius: 10px;
    /* background-color: var(--text--black-700); */
}

.contact .contact-info-item .icon{
        display: inline-block;
}

.contact .contact-info-item:hover{
    box-shadow: 0 0 30px rgb(66, 42, 242);
    scale:0.8;

}
.contact .contact-info-item .icon .fa{
    font-size: 25px;
    color: var(--sky--color);
    margin-left:20px;
    margin-top:20px;
}
.contact .contact-info-item .icon .bx{
    font-size: 35px;
    color: var(--sky--color);
    margin-left:10px;
    margin-top:18px;
}
.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 900;
    color: var(--text--black-900);
    text-transform: capitalize;
    margin-top: auto;
}

.contact .contact-info-item p{
    font-size:16px;
    line-height:25px;
    color: var(--text--black-900);
    font-weight: 400;
    margin-top:-20px;
}

.contact-form{
    /* border: 1px solid #fff; */
    width: 700px;
    margin:auto ;
}
.contact .contact-form{
    flex:  0 0 99%;
    max-width: 99%;

}

.contact .contact-form .col-6{
    flex: 0 0 42%;
    max-width: 41%;
    /* background: red; */
    
}

.contact .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 90%;
    /* background: rgb(39, 209, 17); */
    
}

.contact .contact-form  .form-item{
    margin-bottom: 30px;
}


.contact .contact-form  .form-item .form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background:var(--bg--black-100) ;
    border: 1px solid var(--bg--black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text--white);
    transition: all 0.3s ease;
}

.contact .contact-form  .form-item .form-control:focus{
    box-shadow:0 0 20px rgba(237, 237, 237, 0.3);
}

.contact .contact-form  .form-item textarea.form-control{
    height: 140px;
}

.contact .contact-form  .btn{
    height: 50px;
    padding:0 50px;
    margin-left: 100px;
}

/* -------------------------------for tablets ---------------------------- */
@media (max-width:1119px) {
    .head{
        margin-top: 0;
    }
    .home-info{
        margin-top: 50px;
        margin-bottom:800px;
    }

    .home-img{
        margin-top: 0px;
    }
    .media{
        display:flex;
        flex-direction: column-reverse;
        margin-top: 2300px;
        margin-bottom:1000px;
    }
    .main-content{
       padding: 0; 
    }

    .about{
        margin-top:500px;
        position: relative;
    }

    .skills {
        position: absolute;
        left: -730px;
        bottom: -250px;
    }
    .buttons{
        position:absolute;
        left: -20px;
        bottom: -500px;
        border: 1px solid black;
        

      
    .hire-me{
        margin-top: 20px;
    }
    }

    .Scales{
        margin-top: 450px;
    }

    .education{
        margin-top:-100px;
        margin-bottom:850px;
        margin-left: 0px;
    }
    .experience{
        margin-left: -325px; 
        margin-top:850px;
    }
    .Services{
        margin-top: -150px;
    }
    .box2{
        display: flex;
        flex-direction: column;
        max-width: 600px;
    }
    .service-item{
        margin-bottom: 30px;
    }

    .service-item img{
        margin-left: 115px;
    }
    .service-item i{
        margin-left: 115px;
    }

    .portfolio{
        margin-top: -50px;
        margin-bottom: 1400px;
    }
    .box3{
        display: flex;
        flex-direction: column;
        max-width: 800px;
    }

    .contact{
        margin-left: -50px;
    }
    .contact-box{
        display: flex;
        flex-direction: column;
        max-width: 10000px;
        
    }
    .contact-info-item{
        margin-left: 200px;
    }
    .contact-title,
    .contact-sub-title{
        margin-left:-650px;
    }
    .contact-title_last,
    .contact-sub-title_last{
        margin-left:-650px;
    }
    .contact-title,
    .contact-sub-title{
        margin-left:-600px;
    }
    .contact-form{
        margin-left: -50px;
    }
    .contact .contact-form .col-6{
        flex: 0 0 50%;
        max-width: 50%;  
    }
    .contact .contact-form .col-12{
        flex: 0 0 100%;
        max-width: 50%;  
    }
    .form-item .col-12{
        margin-top:-20px;
    }
}


/*-------------------------------------- for mobile --------------------------------------------*/
@media (max-width:400px) {
    body{
        /* border: 20px solid #ffff; */
        width: 700px;
        height: 10250px;
        margin-top: 5650px;
        scale: 2.1;
        margin-left: 500px;
        overflow-x: hidden;
    }
    .head{
        margin-top: 0;
    }
    .home-info{
        margin-top: 50px;
        margin-bottom:800px;
    }

    .home-img{
        margin-top: 50px;
    }
    .media{
        display:flex;
        flex-direction: column-reverse;
        margin-top: 2800px;
        margin-bottom:1000px;
    }
    .main-content{
       padding: 0; 
       margin-top: -200px;
    }

    .about{
        margin-top:700px;
        position: relative;
    }
    .section-title h2{
        /* border: 1px solid #fff; */
        width: 200px;
    }
    .about-text h3{
        /* border: 1px solid #fff; */
        width: 300px;
    }
    .about-text p{
        /* border: 1px solid #fff; */
        width: 300px;
    }
    .personal-info .row{
        /* border: 1px solid #fff; */
        width: 480px;
    }

    .skills {
        position: absolute;
        left: -640px;
        bottom: -250px;
        scale: 0.8;
    }
    .about .about-content .skills .skill-item{
        /* border:6px solid #00ff26 ; */
        width: 500px;
        margin-left: 8px;
    }

    .about .about-content .skills .skill-item progress {
        width: 100px; /* Adjust width as needed */
        height: 7px; /* Adjust height as needed */
        border-radius:5px;
    }
    .buttons{
        position:absolute;
        left: -20px;
        bottom: -500px;
        border: 1px solid black;
        

      
    .hire-me{
        margin-top: 20px;
    }
    }

    .Scales{
        margin-top: 450px;
    }

    .education{
        margin-top:-100px;
        margin-bottom:850px;
        margin-left: -20px;
    }
    .experience{
        margin-left: -330px; 
        margin-top:850px;
    }
    .Services{
        margin-top: -150px;
    }
    .box2{
        display: flex;
        flex-direction: column;
        max-width: 600px;
    }
    .service-item{
        margin-bottom: 30px;
    }

    .service-item img{
        margin-left: 115px;
    }
    .service-item i{
        margin-left: 115px;
    }

    .portfolio{
        margin-top: -50px;
        margin-bottom: 1400px;
    }
    .box3{
        display: flex;
        flex-direction: column;
        max-width: 800px;
    }

    .contact{
        margin-left: -10px;
    }
    .contact-box{
        display: flex;
        flex-direction: column;
        max-width: 10000px;
        
        
    }
    .contact-info-item{
        margin-left: 200px;
    }
    .contact-title,
    .contact-sub-title{
        margin-left:-650px;
    }
    .contact-title_last,
    .contact-sub-title_last{
        margin-left:-650px;
    }
    .contact-title,
    .contact-sub-title{
        margin-left:-600px;
    }
    .contact-form{
        margin-left: -5px;
    }
    .contact .contact-form .col-6{
        flex: 0 0 50%;
        max-width: 50%;  
    }
    .contact .contact-form .col-12{
        flex: 0 0 100%;
        max-width: 50%;  
    }
    .form-item .col-12{
        margin-top:-20px;
    }
}

